.nav-header {
  height: 400px;
  width: 100%;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
  /* background-color: rgb(17, 167, 17); */
  

}
@media (min-width: 1024px) {
  .mediaQ {
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
  }
  .mediaQ2 {
    margin-top: 5em;
  }
  
}